<!DOCTYPE html>
<html>
  <head>
    <title>PicnotesV3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class ='add-event'>
        <button
          type = 'button'
          class = 'nav-link'
          data-toggle = 'modal'
          data-target = '#newNoteModal'
          data-whatever = '@mdo' >
          New Note
        </button>
      </div>
    </nav>

    <%= render './modals/new_note_modal' %>
    <%= yield %>
  </body>
</html>
